<!DOCTYPE html>
<html>
  <head>
    <title>Fiszks</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('layouts/header.ejs') %>

    <div class="content"><h1>Potezne</h1></div>

    <%- include('layouts/footer.ejs') %>
  </body>
</html>
