<header>
  <h1>Fiszks</h1>
  <nav>
    <ul>
      <li><a href="/">Home Page</a></li>
      <li><a href="/user/card">Random Flashcard</a></li>
      <li><a href="/user/cards">All Flashcards</a></li>
      <li><a href="/admin">Manage Users</a></li>
      <li><a href="/auth/signin">SignIn</a></li>
      <li><a href="/auth/signup">SignUp</a></li>
      <li><a href="#" id="signout-link" onclick="signOut()">SignOut</a></li>
    </ul>
  </nav>
</header>

<script>
  document.getElementById("signout-link").addEventListener("click", (event) => {
    event.preventDefault();

    fetch("/auth/signout", {
      method: "POST",
    })
      .then((response) => {
        if (!response.ok) console.error("Something went wrong.");
        window.location.reload();
      })
      .catch((error) => {
        console.error("Logout error:", error);
      });
  });
</script>
